.advantage {
	position: relative;
	padding: 120px 0;
	overflow: hidden;

	@include mediaTablet {
		padding: 90px 0;
	}

	&::after {
		content: "II";
		@include decorNumberLeft(-30px);
	}

	&__row {
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 7%;
		row-gap: 70px;
		text-align: center;
		@include mediaTablet {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
		}
	}

	&__item {
		flex: 18%;
	}

	&__icon {
		width: 80px;
		height: 80px;
		fill: $color-accent;
		margin-bottom: 53px;

		@include mediaTablet {
			width: 60px;
			height: 60px;
			margin-bottom: 30px;
		}
	}

	&__text {
		font-family: $font-secondary;
		font-size: 20px;
		font-weight: 300;
		line-height: 1.35;

		@include mediaTablet {
			font-size: 16px;
		}
	}
}