.advantage {
	position: relative;
	padding: 120px 0;

	&::after {
		content: "II";
		@include decorNumberLeft(-30px);
	}

	&__row {
		display: flex;
		align-items: center;
		justify-content: center;
		column-gap: 7%;
		row-gap: 70px;
		text-align: center;
	}

	&__item {
		flex: 18%;
	}

	&__icon {
		width: 80px;
		height: 80px;
		fill: $color-accent;
		margin-bottom: 53px;
	}

	&__text {
		font-family: $font-secondary;
		font-size: 20px;
		font-weight: 300;
		line-height: 1.35;
	}
}