.flat {
	position: relative;
	
	&::after {
		content: "III";
		@include decorNumberRight(-70px);
	}

	&__title {
		margin-bottom: 88px;
		@include mediaTablet {
			margin-bottom: 44px;
		}
	}

	&__row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		gap: 30px;
	}

	&__card {
		display: block;
		min-height: 320px;
		flex: 48%;
		background-color: $color-accent;
		display: flex;
		align-items: end;
		transition: all .3s ease-in-out;

		/* мышь, тачпад */
		@media (hover: hover) and (pointer: fine) {
			&:hover {
				transform: translateY(-5px);
			}
		}

		/* смартфоны, устройства с сенсорным экраном, с которым работают пальцами */
		@media (hover: none) and (pointer: coarse) {
			&:hover {
				color: $color-main;
			}
		}

		&--olimp {
			@include background-card-image("@img/flat/1.jpg");
		}

		&--loft {
			@include background-card-image("@img/flat/2.jpg");
		}

		&--studio {
			@include background-card-image("@img/flat/3.jpg");
		}

		&--prestij {
			@include background-card-image("@img/flat/4.jpg");
		}
	}

	&__text {
		padding: 50px;
		padding-bottom: 44px;
		padding-right: 20px;
		font-size: 24px;

		@include mediaTablet {
			font-size: 20px;
			padding-left: 30px;
			padding-bottom: 30px;
			padding-right: 10px;
		}
	}
}