.footer {
	padding: 72px 0 52px 0;
	background-color: $color-footer-bg;
	letter-spacing: 0.05em;
	font-size: 14px;

	&__grid {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		@include mediaTablet {
			grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
			row-gap: 40px;
		}
		gap: 30px;
	}

	&__logo {
		fill: $color-main;
		max-width: 137px;
		max-height: 66px;
		margin-top: -12px;
	}

	&__social {
		display: flex;
		gap: 22px;
		align-items: center;
	}

	&__contact,
	&__nav-list {
		>li:not(:last-child) {
			margin-bottom: 15px;
		}
	}

	&__email {
		margin-bottom: 20px !important;
	}
}