.map {
	position: relative;
	padding: 180px 0;

	&::after {
		content: "V";
		@include decorNumberRight(110px);
	}

	&__title {
		margin-bottom: 88px;
	}

	&__map {
		background-color: #626262;
		height: 358px;
	}
}
