.social {

	&__link:hover {
		.social__icon {
			fill: $color-accent;
		}
	}

	&__icon {
		height: 20px;
		fill: $color-main;
		display: block;
		transition: fill .2s ease-in;
	}

	&__icon--youtube {
		width: 30px;
	}

	&__icon--vk {
		width: 37px;
	}

	&__icon--facebook,
	&__icon--instagram {
		width: 23px;
	}
}
